################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Wonder/bin/Debug/Launcher.exe
/Wonder/bin/Release/Launcher.exe
/Wonder/.vs/Wonder/FileContentIndex/0cb87028-7b0c-4cab-a6af-0f3ffa92f0bd.vsidx
/Wonder/.vs/Wonder/FileContentIndex/69eb51a0-d669-4533-9867-cf89fec490c6.vsidx
/Wonder/.vs/Wonder/FileContentIndex/97025c87-9598-48f7-9412-058989622960.vsidx
/Wonder/.vs/Wonder/FileContentIndex/b087a632-4622-4a21-ac06-ffbe4708be9d.vsidx
/Wonder/.vs/Wonder/FileContentIndex/ee994a0d-f64c-4f4c-928c-c457abe9eca1.vsidx
